# Contents
1. Imports
2. Checks
3. Derive New Variables
4. Exports

# 1. Imports

In [1]:
#Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Path
path = r'/Users/davidgriesel/Documents/0 - Analytics Projects/Online Grocery Store'

In [3]:
#Dataset
df_merged_dataset = pd.read_pickle(os.path.join(path, '02 - Data', 'Prepared Data', 'merged_dataset.pkl'))

# 2. Checks

In [4]:
#Dimensions
df_merged_dataset.shape

(32403719, 21)

In [5]:
#Preview
df_merged_dataset.head()

,order_id,user_id,user_order_count,order_day_of_week,order_hour_of_day,days_since_last_order,is_first_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,gender,state,age,date_joined,number_of_dependants,marital_status,income
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,Female,Alabama,31,2019-02-17,3,married,40423
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,91,16,12.5,Female,Alabama,31,2019-02-17,3,married,40423
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,23,19,4.4,Female,Alabama,31,2019-02-17,3,married,40423
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,23,19,4.7,Female,Alabama,31,2019-02-17,3,married,40423
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,54,17,1.0,Female,Alabama,31,2019-02-17,3,married,40423

##### Observations:
- Consistent with integrated dataset

# 3. Derive New Variables

## 3.1. Average Price

In [6]:
#Average spent(price) by user_id
df_merged_dataset['avg_price'] = df_merged_dataset.groupby(['user_id'])['prices'].transform('mean')

In [7]:
#Confirm results
#df_merged_dataset[['user_id', 'avg_price']].head()

In [8]:
#Dimensions
#df_merged_dataset.shape

## 3.2. Spending Flag

In [9]:
#df_merged_dataset['avg_price'].describe()

In [10]:
# Define conditions
conditions = [
    df_merged_dataset['avg_price'] <= 5,
    (df_merged_dataset['avg_price'] > 5) & (df_merged_dataset['avg_price'] <= 15),
    df_merged_dataset['avg_price'] > 15
]
# Define corresponding labels
labels = ['Low Spender', 'Moderate Spender', 'High Spender']

# Assign loyalty flags using np.select()
df_merged_dataset['spending_flag'] = np.select(conditions, labels, default = 'Unknown')

In [11]:
#Confirm results
#df_merged_dataset[['avg_price', 'spending_flag']].head()

In [12]:
#Dimensions
#df_merged_dataset.shape

In [13]:
#Check frequency distribution of new variable
df_merged_dataset['spending_flag'].value_counts(dropna = False)

spending_flag
Moderate Spender    32315896
Low Spender            87560
High Spender             263
Name: count, dtype: int64

In [16]:
#Check distribution of user_id's by spending_flag
#df_merged_dataset.groupby('spending_flag')['user_id'].nunique()

## 3.3. Max Order

In [17]:
#Group by 'user_id' and return the 'max_order' number in new column
df_merged_dataset['max_order'] = df_merged_dataset.groupby(['user_id'])['user_order_count'].transform('max')

In [18]:
#Confirm results
#df_merged_dataset[['user_id', 'max_order']].head()

In [19]:
#Dimensions
#df_merged_dataset.shape

## 3.4. Engagement Flag

In [18]:
#df_merged_dataset['max_order'].describe()

In [20]:
# Define conditions
conditions = [
    df_merged_dataset['max_order'] <= 14, #bottom 25%
    (df_merged_dataset['max_order'] > 14) & (df_merged_dataset['max_order'] <= 48), #middle 50%
    df_merged_dataset['max_order'] > 48 #top 25%
]

# Define corresponding labels
labels = ['Low Engagement', 'Moderate Engagement', 'High Engagement']

# Assign loyalty flags using np.select()
df_merged_dataset['engagement_flag'] = np.select(conditions, labels, default = 'Unknown')

In [20]:
#Confirm results
#df_merged_dataset[['max_order', 'engagement_flag']].head()

In [21]:
#Dimensions
#df_merged_dataset.shape

In [21]:
#Check frequency distribution of new variable
df_merged_dataset['engagement_flag'].value_counts(dropna = False)

engagement_flag
Moderate Engagement    15499267
Low Engagement          9227866
High Engagement         7676586
Name: count, dtype: int64

In [23]:
#Check distribution of user_id's by loyalty_flag
#df_merged_dataset.groupby('engagement_flag')['user_id'].nunique()

In [24]:
#Basic price statistics by loyalty_flag
#df_merged_dataset.groupby('engagement_flag').agg({'prices': ['mean', 'min', 'max']})

## 3.5. Median Days

In [22]:
#Median of days_since_prior_order by user_id
df_merged_dataset['median_days'] = df_merged_dataset.groupby(['user_id'])['days_since_last_order'].transform('median')

In [26]:
#Confirm results
#df_merged_dataset[['user_id', 'median_days']].head()

In [27]:
#Dimensions
#df_merged_dataset.shape

## 3.6. Frequency Flag

In [28]:
#df_merged_dataset['median_days'].describe()

In [29]:
#Check frequency distribution of new variable
#df_merged_dataset['median_days'].value_counts(dropna = False)

In [30]:
#Variable includes 5 NaN values where days_since_last-order is Nan - Include under Rare Shopper
#df_null_median_days = df_merged_dataset[df_merged_dataset['median_days'].isna()]
#df_null_median_days

In [23]:
# Define conditions
conditions = [
    df_merged_dataset['median_days'] <= 6,
    (df_merged_dataset['median_days'] > 6) & (df_merged_dataset['median_days'] <= 13),
    df_merged_dataset['median_days'] > 13,
    df_merged_dataset['median_days'].isna()
]

# Define corresponding labels
labels = ['Frequent Shopper', 'Occasional Shopper', 'Rare Shopper', 'Rare Shopper']

# Assign loyalty flags using np.select()
df_merged_dataset['frequency_flag'] = np.select(conditions, labels, default = 'Unknown')

In [32]:
#Confirm results
#df_merged_dataset[['median_days', 'frequency_flag']].head()

In [33]:
#Dimensions
#df_merged_dataset.shape

In [24]:
#Check frequency distribution of new variable
df_merged_dataset['frequency_flag'].value_counts(dropna = False)

frequency_flag
Occasional Shopper    14622992
Frequent Shopper      10091201
Rare Shopper           7689526
Name: count, dtype: int64

In [35]:
#Check distribution of user_id's by frequency_flag
#df_merged_dataset.groupby('frequency_flag')['user_id'].nunique()

In [36]:
#Basic price statistics by loyalty_flag
#df_merged_dataset.groupby('frequency_flag').agg({'prices': ['mean', 'min', 'max']})

## 3.7. Customer Tenure

In [37]:
#Check frequency distribution of new variable
#df_merged_dataset['date_joined'].value_counts(dropna = False)

In [38]:
#df_merged_dataset['date_joined'].describe()

In [25]:
# Define the reference date for analysis
reference_date = pd.to_datetime('2020-04-01')

# Calculate customer tenure based on the fixed reference date
df_merged_dataset['customer_tenure'] = (reference_date - df_merged_dataset['date_joined']).dt.days

In [40]:
#Confirm results
#df_merged_dataset[['date_joined', 'customer_tenure']].head()

In [41]:
 #Dimensions
#df_merged_dataset.shape

## 3.8. Activity Rate

In [42]:
#df_merged_dataset['customer_tenure'].describe()

In [26]:
df_merged_dataset['activity_rate'] = df_merged_dataset['max_order'] / (df_merged_dataset['customer_tenure'] / 30)  # Orders per month

In [44]:
#Confirm results
#df_merged_dataset[['max_order', 'customer_tenure', 'activity_rate']].head()

In [45]:
#Dimensions
#df_merged_dataset.shape

## 3.9. Activity Flag

In [46]:
#df_merged_dataset['activity_rate'].describe()

In [27]:
# Define conditions
conditions = [
    df_merged_dataset['activity_rate'] <= 0.72, #bottom 25%
    (df_merged_dataset['activity_rate'] > 0.72) & (df_merged_dataset['activity_rate'] <= 3.4), #middle 50%
    df_merged_dataset['activity_rate'] > 3.4 #top 25%
]

# Define corresponding labels
labels = ['Low Activity', 'Moderate Activity', 'High Activity']

# Assign loyalty flags using np.select()
df_merged_dataset['activity_flag'] = np.select(conditions, labels, default = 'Unknown')

In [48]:
#Confirm results
#df_merged_dataset[['activity_rate', 'activity_flag']].head()

In [49]:
#Dimensions
#df_merged_dataset.shape

In [28]:
#Check frequency distribution of new variable
df_merged_dataset['activity_flag'].value_counts(dropna = False)

activity_flag
Moderate Activity    15809078
Low Activity          8598721
High Activity         7995920
Name: count, dtype: int64

In [51]:
#Check distribution of user_id's by frequency_flag
#df_merged_dataset.groupby('activity_flag')['user_id'].nunique()

## 3.10. Loyalty Score

In [52]:
#Check frequency distribution of new variable
#df_merged_dataset['spending_flag'].value_counts(dropna = False)

In [53]:
#df_merged_dataset['engagement_flag'].value_counts(dropna = False)

In [54]:
#Check frequency distribution of new variable
#df_merged_dataset['frequency_flag'].value_counts(dropna = False)

In [55]:
#Check frequency distribution of new variable
#df_merged_dataset['activity_flag'].value_counts(dropna = False)

In [29]:
# Define mapping of flags to numerical scores
spending_mapping = {'Low Spender': 1, 'Moderate Spender': 2, 'High Spender': 3}
engagement_mapping = {'Low Engagement': 1, 'Moderate Engagement': 2, 'High Engagement': 3}
frequency_mapping = {'Rare Shopper': 1, 'Occasional Shopper': 2, 'Frequent Shopper': 3}
activity_mapping = {'Low Activity': 1, 'High Activity': 2, 'Moderate Activity': 3}

# Map the categorical flags to numerical scores
df_merged_dataset['spending_score'] = df_merged_dataset['spending_flag'].map(spending_mapping)
df_merged_dataset['engagement_score'] = df_merged_dataset['engagement_flag'].map(engagement_mapping)
df_merged_dataset['frequency_score'] = df_merged_dataset['frequency_flag'].map(frequency_mapping)
df_merged_dataset['activity_score'] = df_merged_dataset['activity_flag'].map(activity_mapping)

# Calculate the Total Loyalty Score
df_merged_dataset['total_loyalty_score'] = (
    df_merged_dataset['spending_score'] +
    df_merged_dataset['engagement_score'] +
    df_merged_dataset['frequency_score'] +
    df_merged_dataset['activity_score']
)

In [57]:
#Confirm results
#df_merged_dataset[['spending_flag', 'engagement_flag', 'frequency_flag', 'activity_flag', 'spending_score', 'engagement_score', 'frequency_score', 'activity_score', 'total_loyalty_score']].head(100)

In [58]:
#Dimensions
#df_merged_dataset.shape

## 3.11. Loyalty Flag

In [59]:
#df_merged_dataset['total_loyalty_score'].describe()

In [30]:
# Define conditions for loyalty categories
conditions = [
    (df_merged_dataset['total_loyalty_score'] <= 7),
    (df_merged_dataset['total_loyalty_score'] > 7) & (df_merged_dataset['total_loyalty_score'] <= 10),
    (df_merged_dataset['total_loyalty_score'] > 10)
]

# Define corresponding loyalty categories
labels = ['Low Loyalty', 'Moderate Loyalty', 'High Loyalty']

# Assign loyalty categories based on conditions
df_merged_dataset['loyalty_flag'] = np.select(conditions, labels, default = 'Unknown')

In [61]:
#Confirm results
#df_merged_dataset.head()

In [62]:
#Dimensions
#df_merged_dataset.shape

In [31]:
#Check frequency distribution of new variable
df_merged_dataset['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Moderate Loyalty    19014746
Low Loyalty         10490196
High Loyalty         2898777
Name: count, dtype: int64

In [64]:
#Check distribution of user_id's by frequency_flag
#df_merged_dataset.groupby('loyalty_flag')['user_id'].nunique()

# 4. Exports

In [32]:
df_merged_dataset.columns

Index(['order_id', 'user_id', 'user_order_count', 'order_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'is_first_order',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'gender', 'state', 'age',
       'date_joined', 'number_of_dependants', 'marital_status', 'income',
       'avg_price', 'spending_flag', 'max_order', 'engagement_flag',
       'median_days', 'frequency_flag', 'customer_tenure', 'activity_rate',
       'activity_flag', 'spending_score', 'engagement_score',
       'frequency_score', 'activity_score', 'total_loyalty_score',
       'loyalty_flag'],
      dtype='object')

In [33]:
df_merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32403719 entries, 0 to 32403718
Data columns (total 36 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int64
 1   user_id                int64
 2   user_order_count       int64
 3   order_day_of_week      int64
 4   order_hour_of_day      int64
 5   days_since_last_order  float64
 6   is_first_order         bool
 7   product_id             int64
 8   add_to_cart_order      int64
 9   reordered              int64
 10  product_name           object
 11  aisle_id               int64
 12  department_id          int64
 13  prices                 float64
 14  gender                 object
 15  state                  object
 16  age                    int64
 17  date_joined            datetime64[ns]
 18  number_of_dependants   int64
 19  marital_status         object
 20  income                 int64
 21  avg_price              float64
 22  spending_flag          object
 23  max_order              int64
 24  engagement_flag        object
 25  median_days            float64
 26  frequency_flag         object
 27  customer_tenure        int64
 28  activity_rate          float64
 29  activity_flag          object
 30  spending_score         int64
 31  engagement_score       int64
 32  frequency_score        int64
 33  activity_score         int64
 34  total_loyalty_score    int64
 35  loyalty_flag           object
dtypes: bool(1), datetime64[ns](1), float64(5), int64(20), object(9)
memory usage: 8.5+ GB

In [34]:
#Drop derived variables
df_merged_dataset = df_merged_dataset.drop(columns = ['is_first_order', 
                                                      'add_to_cart_order', 
                                                      'reordered', 
                                                      'product_name', 
                                                      'aisle_id', 
                                                      'gender', 
                                                      'avg_price',
                                                      'max_order',
                                                      'median_days',
                                                      'customer_tenure',
                                                      'activity_rate',
                                                      'spending_score', 
                                                      'engagement_score',
                                                      'frequency_score', 
                                                      'activity_score',
                                                      'total_loyalty_score',
                                                     ])

In [35]:
df_merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32403719 entries, 0 to 32403718
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int64
 1   user_id                int64
 2   user_order_count       int64
 3   order_day_of_week      int64
 4   order_hour_of_day      int64
 5   days_since_last_order  float64
 6   product_id             int64
 7   department_id          int64
 8   prices                 float64
 9   state                  object
 10  age                    int64
 11  date_joined            datetime64[ns]
 12  number_of_dependants   int64
 13  marital_status         object
 14  income                 int64
 15  spending_flag          object
 16  engagement_flag        object
 17  frequency_flag         object
 18  activity_flag          object
 19  loyalty_flag           object
dtypes: datetime64[ns](1), float64(2), int64(10), object(7)
memory usage: 4.8+ GB

In [36]:
#Confirm dimensions
df_merged_dataset.shape

(32403719, 20)

In [37]:
#Export merged dataset
df_merged_dataset.to_pickle(os.path.join(path, '02 - Data', 'Prepared Data', 'profiled_dataset.pkl'))