# Contents
1. Imports
2. Checks
3. Derive New Variables
4. Exports

# 1. Imports

In [1]:
#Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Path
path = r'/Users/davidgriesel/Documents/0 - Analytics Projects/Online Grocery Store'

In [3]:
#Dataset
df_merged_dataset = pd.read_pickle(os.path.join(path, '02 - Data', 'Prepared Data', 'profiled_dataset.pkl'))

In [4]:
#Dataset
df_departments = pd.read_pickle(os.path.join(path, '02 - Data', 'Prepared Data', 'cleaned_departments.pkl'))

# 2. Checks

In [5]:
#Dimensions
df_merged_dataset.shape

(32403719, 20)

In [6]:
#Preview
df_merged_dataset.head()

,order_id,user_id,user_order_count,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,department_id,prices,state,age,date_joined,number_of_dependants,marital_status,income,spending_flag,engagement_flag,frequency_flag,activity_flag,loyalty_flag
0,2539329,1,1,2,8,NaN,196,7,9.0,Alabama,31,2019-02-17,3,married,40423,Moderate Spender,Low Engagement,Rare Shopper,Moderate Activity,Low Loyalty
1,2539329,1,1,2,8,NaN,14084,16,12.5,Alabama,31,2019-02-17,3,married,40423,Moderate Spender,Low Engagement,Rare Shopper,Moderate Activity,Low Loyalty
2,2539329,1,1,2,8,NaN,12427,19,4.4,Alabama,31,2019-02-17,3,married,40423,Moderate Spender,Low Engagement,Rare Shopper,Moderate Activity,Low Loyalty
3,2539329,1,1,2,8,NaN,26088,19,4.7,Alabama,31,2019-02-17,3,married,40423,Moderate Spender,Low Engagement,Rare Shopper,Moderate Activity,Low Loyalty
4,2539329,1,1,2,8,NaN,26405,17,1.0,Alabama,31,2019-02-17,3,married,40423,Moderate Spender,Low Engagement,Rare Shopper,Moderate Activity,Low Loyalty

##### Observations:
- Consistent with integrated dataset

# 3. Derive New Variables

## 3.1. Busiest Days

In [7]:
#Check frequency distribution of variable
#df_merged_dataset['order_day_of_week'].value_counts(dropna = False)

In [8]:
#Create loop and place results in list
result_1 = []

for value in df_merged_dataset['order_day_of_week']:
    if value == 0 or value == 1:
        result_1.append('Most Busy')
    elif value == 3 or value == 4:
        result_1.append('Moderately Busy')
    else:
        result_1.append('Least Busy')

In [9]:
#View list
#result_1

In [10]:
#Create new variable and set it equal to results of loop
df_merged_dataset['busiest_days'] = result_1

In [11]:
#Confirm results
#df_merged_dataset[['order_day_of_week', 'busiest_days']].head()

In [12]:
#Dimensions
#df_merged_dataset.shape

In [13]:
#Check frequency distribution of new variable
df_merged_dataset['busiest_days'].value_counts(dropna = False)

busiest_days
Least Busy         12915657
Most Busy          11863938
Moderately Busy     7624124
Name: count, dtype: int64

## 3.2. Busiest Hours

In [14]:
#Check frequency distribution of variable
#df_merged_dataset['order_hour_of_day'].value_counts()

In [15]:
#Create loop and place results in list
result_2 = []

for value in df_merged_dataset['order_hour_of_day']:
    if value in [9, 10, 11, 12, 13, 14, 15, 16, 17]: # More than 2m orders
        result_2.append('Most Busy')
    elif value in [23, 0, 1, 2, 3, 4, 5, 6]: #less than 500k orders
        result_2.append('Least Busy')
    else:
        result_2.append('Moderately Busy')

In [16]:
#Create new variable and set it equal to results of loop
df_merged_dataset['busiest_hours'] = result_2

In [17]:
#Confirm results
#df_merged_dataset[['order_hour_of_day', 'busiest_hours']].head()

In [18]:
#Dimensions
#df_merged_dataset.shape

In [19]:
#Check frequency distribution of new variable
df_merged_dataset['busiest_hours'].value_counts(dropna = False)

busiest_hours
Most Busy          23204823
Moderately Busy     7909779
Least Busy          1289117
Name: count, dtype: int64

## 3.3. Price Label

In [20]:
#Check frequency distribution of variable
#df_merged_dataset['prices'].value_counts(dropna = False).sort_index()

In [21]:
#Define the conditions
conditions = [
    df_merged_dataset['prices'] <= 5,
    (df_merged_dataset['prices'] > 5) & (df_merged_dataset['prices'] <= 15),
    df_merged_dataset['prices'] > 15
]

#Define corresponding labels
choices = ['Low Range', 'Mid Range', 'High Range']

#Create new variable based on the conditions
df_merged_dataset['price_label'] = np.select(conditions, choices, default = 'Unknown')

In [22]:
#Confirm results
#df_merged_dataset[['prices', 'price_label']].head()

In [23]:
#Dimensions
#df_merged_dataset.shape

In [24]:
#Check frequency distribution of new variable
df_merged_dataset['price_label'].value_counts(dropna = False)

price_label
Mid Range     21865409
Low Range     10125759
High Range      412551
Name: count, dtype: int64

## 3.4. Region

In [25]:
#View values in state variable
#df_merged_dataset['state'].value_counts(dropna = False).sort_index()

In [26]:
#Count values in state variable
#df_merged_dataset['state'].nunique(dropna = False)

In [27]:
#Allocate states to regions
result_3 = []
for value in df_merged_dataset['state']:
  if value in ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']:
    result_3.append('Northeast')
  elif value in ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']:
    result_3.append('Midwest')
  elif value in ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']:
    result_3.append('South')
  elif value in ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']:
    result_3.append('West')
  else:
    result_3.append('Unallocated')

In [28]:
#Assign result to a new column
df_merged_dataset['region'] = result_3

In [29]:
#Get dimensions
#df_merged_dataset.shape

In [30]:
#View distribution of values in 'region' column
df_merged_dataset['region'].value_counts(dropna = False)

region
South        10791513
West          8292641
Midwest       7597015
Northeast     5722550
Name: count, dtype: int64

## 3.5. Age

In [31]:
#View values in 'age' column
#df_merged_dataset['age'].value_counts(dropna = False).sort_index()

In [32]:
#df_merged_dataset['age'].describe()

In [33]:
#Allocate age
result_4 = []
for value in df_merged_dataset['age']:
  if value <= 25:
    result_4.append('Young Adult')
  elif value <= 45:
    result_4.append('Adult')
  elif value <= 65:
    result_4.append('Middle Aged')
  else:
    result_4.append('Senior')

In [34]:
#Assign result to a new column
df_merged_dataset['age_profile'] = result_4

In [35]:
#View dimensions
#df_merged_dataset.shape

In [36]:
#Check frequency distribution of new variable
df_merged_dataset['age_profile'].value_counts(dropna = False)

age_profile
Adult          10155790
Middle Aged    10115107
Senior          8087791
Young Adult     4045031
Name: count, dtype: int64

In [37]:
#Check distribution of user_id's by frequency_flag
#df_merged_dataset.groupby('age_profile')['user_id'].nunique()

## 3.6. Income

In [38]:
#df_merged_dataset['income'].describe()

In [39]:
#df_merged_dataset['income'].value_counts(dropna = False).sort_index()

In [40]:
#Allocate income
result_5 = []
for value in df_merged_dataset['income']:
  if value <= 55000:
    result_5.append('Low Income')
  elif value <= 150000:
    result_5.append('Middle Income')
  else:
    result_5.append('High Income')

In [41]:
#Assign result to a new column
df_merged_dataset['income_profile'] = result_5

In [42]:
#View dimensions
#df_merged_dataset.shape

In [43]:
#Check frequency distribution of new variable
df_merged_dataset['income_profile'].value_counts(dropna = False)

income_profile
Middle Income    23613160
Low Income        4739847
High Income       4050712
Name: count, dtype: int64

In [44]:
#Check distribution of user_id's by frequency_flag
#df_merged_dataset.groupby('income_profile')['user_id'].nunique()

## 3.7. Parental Status

In [45]:
#df_merged_dataset['number_of_dependants'].value_counts(dropna = False).sort_index()

In [46]:
#Allocate dependents
result_6 = []
for value in df_merged_dataset['number_of_dependants']:
  if value == 0:
    result_6.append('non-parent')
  elif value > 0:
    result_6.append('parent')
  else:
    result_6.append('unallocated') #Check

In [47]:
#Assign result to a new column
df_merged_dataset['parental_status'] = result_6

In [48]:
#View dimensions
#df_merged_dataset.shape

In [49]:
#Check frequency distribution of new variable
df_merged_dataset['parental_status'].value_counts(dropna = False)

parental_status
parent        24306422
non-parent     8097297
Name: count, dtype: int64

In [50]:
#Check distribution of user_id's by frequency_flag
#df_merged_dataset.groupby('parental_status')['user_id'].nunique()

## 3.8. Marital Status

In [51]:
df_merged_dataset['marital_status'].value_counts(dropna = False).sort_index()

marital_status
divorced/widowed                     2771700
living with parents and siblings     1550545
married                             22755877
single                               5325597
Name: count, dtype: int64

In [52]:
#Check distribution of user_id's by frequency_flag
#df_merged_dataset.groupby('marital_status')['user_id'].nunique()

## 3.9. Family Status

In [53]:
#Cross variables
#marital_vs_parental_status = pd.crosstab(df_merged_dataset['marital_status'], df_merged_dataset['parental_status'], dropna = False)
#marital_vs_parental_status

##### Allocate lables as follows:
- None of the divorced/widowed and single users have children and can be classified as single adults.
- All users that live with their parents or siblings are also parents and can be classified as young parents.
- All married users are parents and can be classified as families.

In [54]:
#Allocate family status
result_7 = []
for value in df_merged_dataset['marital_status']:
  if value == 'divorced/widowed':
    result_7.append('Single Adult')
  elif value == 'living with parents and siblings':
    result_7.append('Young Parent')
  elif value == 'married':
    result_7.append('Family')
  elif value == 'single':
    result_7.append('Single Adult')
  else:
    result_7.append('unallocated')

In [55]:
#Assign result to a new column
df_merged_dataset['family_status'] = result_7

In [56]:
#View dimensions
#df_merged_dataset.shape

In [57]:
#Check frequency distribution of new variable
df_merged_dataset['family_status'].value_counts(dropna = False)

family_status
Family          22755877
Single Adult     8097297
Young Parent     1550545
Name: count, dtype: int64

In [58]:
#Check distribution of user_id's by frequency_flag
#df_merged_dataset.groupby('family_status')['user_id'].nunique()

## 3.10. Product Category

In [59]:
#View distribution of values in 'department_id' column
#df_merged_dataset['department_id'].value_counts(dropna = False)

In [60]:
#Turn dataframe into data dictionary
data_dictionary = df_departments.to_dict('index')

In [61]:
#View created data dictionary
#data_dictionary

##### Categories can be allocated as follows:
- beverages as beverages [7]
- alcoholic as alcoholic beverages [5]
- dairy eggs, deli, meat seafood, produce & bakery as perishables [16,20,12,4,3]
- frozen, bulk, canned goods, dry goods pasta, pantry, snacks & breakfast as non-perishables [1,10,15,9,13,19,14]
- household as household [17]
- personal care as personal care [11]
- pets as pets [8]
- babies as babies [18]
- international, missing & other as miscellaneous [6,21,2]

In [62]:
#Allocate departments
result_8 = []
for value in df_merged_dataset['department_id']:
  if value in [7]:
    result_8.append('beverages')
  elif value in [5]:
    result_8.append('alcoholic beverages')
  elif value in [16,20,12,4,3]:
    result_8.append('perishables')
  elif value in [1,10,15,9,13,19,14]:
    result_8.append('non-perishables')
  elif value in [17]:
    result_8.append('household')
  elif value in [11]:
    result_8.append('personal care')
  elif value in [8]:
    result_8.append('pets')
  elif value in [18]:
    result_8.append('babies')
  elif value in [6,21,2]:
    result_8.append('miscellaneous')
  else:
    result_8.append('unallocated') #Check

In [63]:
#Assign result to a new column
df_merged_dataset['product_category'] = result_8

In [64]:
#View dimensions
#df_merged_dataset.shape

In [65]:
#Check frequency distribution of new variable
df_merged_dataset['product_category'].value_counts(dropna = False)

product_category
perishables            17810080
non-perishables         9669953
beverages               2688115
household                738666
personal care            447010
babies                   423794
miscellaneous            374689
alcoholic beverages      153696
pets                      97716
Name: count, dtype: int64

# 4. Exports

In [66]:
#Confirm dimensions
df_merged_dataset.shape

(32403719, 29)

In [67]:
#Export merged dataset
df_merged_dataset.to_pickle(os.path.join(path, '02 - Data', 'Prepared Data', 'segmented_dataset.pkl'))