# Contents
1. Imports
2. Checks
3. Derive New Variables
4. Exports

# 1. Imports

In [1]:
#Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Path
path = r'/Users/davidgriesel/Documents/0 - Analytics Projects/Online Grocery Store'

In [3]:
#Dataset
df_merged_dataset = pd.read_pickle(os.path.join(path, '02 - Data', 'Prepared Data', 'merged_dataset.pkl'))

In [4]:
#Dataset
df_departments = pd.read_pickle(os.path.join(path, '02 - Data', 'Prepared Data', 'cleaned_departments.pkl'))

# 2. Checks

In [5]:
#Dimensions
df_merged_dataset.shape

(32403719, 22)

In [6]:
#Preview
df_merged_dataset.head()

,order_id,user_id,user_order_count,order_day_of_week,order_hour_of_day,days_since_last_order,is_first_order,product_id,add_to_cart_order,reordered,...,department_id,prices,gender,state,age,date_joined,number_of_dependants,marital_status,income,department
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,Female,Alabama,31,2019-02-17,3,married,40423,beverages
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,16,12.5,Female,Alabama,31,2019-02-17,3,married,40423,dairy eggs
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,19,4.4,Female,Alabama,31,2019-02-17,3,married,40423,snacks
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,19,4.7,Female,Alabama,31,2019-02-17,3,married,40423,snacks
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,17,1.0,Female,Alabama,31,2019-02-17,3,married,40423,household

In [7]:
#Summary stats
df_merged_dataset.describe()

,order_id,user_id,user_order_count,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,age,date_joined,number_of_dependants,income
count,3.240372e+07,3.240372e+07,3.240372e+07,3.240372e+07,3.240372e+07,3.032769e+07,3.240372e+07,3.240372e+07,3.240372e+07,3.240372e+07,3.240372e+07,3.240372e+07,3.240372e+07,32403719,3.240372e+07,3.240372e+07
mean,1.710747e+06,1.029373e+05,1.714251e+01,2.738872e+00,1.342515e+01,1.110396e+01,2.559864e+04,8.352535e+00,5.895912e-01,7.119683e+01,9.919667e+00,7.792048e+00,4.946528e+01,2018-08-16 15:34:57.046292736,1.501888e+00,9.943758e+04
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.800000e+01,2017-01-01 00:00:00,0.000000e+00,2.590300e+04
25%,8.559480e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354200e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00,3.300000e+01,2017-10-22 00:00:00,1.000000e+00,6.700300e+04
50%,1.711052e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530100e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00,4.900000e+01,2018-08-16 00:00:00,2.000000e+00,9.661700e+04
75%,2.565504e+06,1.543880e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01,6.500000e+01,2019-06-09 00:00:00,3.000000e+00,1.279120e+05
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,2.500000e+01,8.100000e+01,2020-04-01 00:00:00,3.000000e+00,5.939010e+05
std,9.872991e+05,5.946604e+04,1.753549e+01,2.090073e+00,4.246397e+00,8.779011e+00,1.408424e+04,7.127101e+00,4.919079e-01,3.821147e+01,6.281541e+00,4.242308e+00,1.848556e+01,NaN,1.118865e+00,4.305685e+04

##### Observations:
- Consistent with integrated dataset

# 3. Derive New Variables

## 3.1. Busiest Days

In [8]:
#Check frequency distribution of variable
df_merged_dataset['order_day_of_week'].value_counts(dropna = False)

order_day_of_week
0    6203898
1    5660040
6    4496316
2    4213690
5    4205651
3    3840418
4    3783706
Name: count, dtype: int64

In [9]:
#Create loop and place results in list
result_1 = []

for value in df_merged_dataset['order_day_of_week']:
    if value == 0 or value == 1:
        result_1.append('Most Busy')
    elif value == 3 or value == 4:
        result_1.append('Moderately Busy')
    else:
        result_1.append('Least Busy')

In [10]:
#View list
result_1

['Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Moderately Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Most Busy',
 'Most Busy',
 'Most Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 'Least Busy',
 ...]

In [11]:
#Create new variable and set it equal to results of loop
df_merged_dataset['busiest_days'] = result_1

In [12]:
#Confirm results
df_merged_dataset[['order_day_of_week', 'busiest_days']].head(100)

    order_day_of_week     busiest_days
0                   2       Least Busy
1                   2       Least Busy
2                   2       Least Busy
3                   2       Least Busy
4                   2       Least Busy
..                ...              ...
95                  2       Least Busy
96                  3  Moderately Busy
97                  3  Moderately Busy
98                  3  Moderately Busy
99                  3  Moderately Busy

[100 rows x 2 columns]

In [13]:
#Dimensions
df_merged_dataset.shape

(32403719, 23)

In [14]:
#Check frequency distribution of new variable
df_merged_dataset['busiest_days'].value_counts(dropna = False)

busiest_days
Least Busy         12915657
Most Busy          11863938
Moderately Busy     7624124
Name: count, dtype: int64

## 3.2. Busiest Hours

In [15]:
#Check frequency distribution of variable
df_merged_dataset['order_hour_of_day'].value_counts()

order_hour_of_day
10    2761660
11    2736010
14    2689036
15    2662044
13    2660846
12    2618430
16    2535106
9     2454127
17    2087564
8     1718082
18    1636436
19    1258275
20     976134
7      891026
21     795619
22     634207
23     402314
6      290491
0      218763
1      115698
5       87957
2       69373
4       53240
3       51281
Name: count, dtype: int64

In [16]:
#Create loop and place results in list
result_2 = []

for value in df_merged_dataset['order_hour_of_day']:
    if value in [9, 10, 11, 12, 13, 14, 15, 16, 17]: # More than 2m orders
        result_2.append('Most Busy')
    elif value in [23, 0, 1, 2, 3, 4, 5, 6]: #less than 500k orders
        result_2.append('Least Busy')
    else:
        result_2.append('Moderately Busy')

In [17]:
#Create new variable and set it equal to results of loop
df_merged_dataset['busiest_hours'] = result_2

In [18]:
#Dimensions
df_merged_dataset.shape

(32403719, 24)

In [19]:
#Check frequency distribution of new variable
df_merged_dataset['busiest_hours'].value_counts(dropna = False)

busiest_hours
Most Busy          23204823
Moderately Busy     7909779
Least Busy          1289117
Name: count, dtype: int64

## 3.3. Price Label

In [20]:
#Check frequency distribution of variable
df_merged_dataset['prices'].value_counts(dropna = False).sort_index()

prices
1.0     115143
1.1     242782
1.2     256258
1.3     425691
1.4     392209
         ...
24.6      1962
24.7      7283
24.8       410
24.9      5781
25.0     13772
Name: count, Length: 241, dtype: int64

In [21]:
#Define the conditions
conditions = [
    df_merged_dataset['prices'] <= 5,
    (df_merged_dataset['prices'] > 5) & (df_merged_dataset['prices'] <= 15),
    df_merged_dataset['prices'] > 15
]

#Define corresponding labels
choices = ['Low Range', 'Mid Range', 'High Range']

#Create new variable based on the conditions
df_merged_dataset['price_label'] = np.select(conditions, choices, default = 'Unknown')

In [22]:
#Confirm results
df_merged_dataset[['prices', 'price_label']].head(100)

    prices price_label
0      9.0   Mid Range
1     12.5   Mid Range
2      4.4   Low Range
3      4.7   Low Range
4      1.0   Low Range
..     ...         ...
95     5.9   Mid Range
96    14.0   Mid Range
97     2.9   Low Range
98     1.6   Low Range
99     3.4   Low Range

[100 rows x 2 columns]

In [23]:
#Dimensions
df_merged_dataset.shape

(32403719, 25)

In [24]:
#Check frequency distribution of new variable
df_merged_dataset['price_label'].value_counts(dropna = False)

price_label
Mid Range     21865409
Low Range     10125759
High Range      412551
Name: count, dtype: int64

## 3.4. Mean Price

In [33]:
#Average spent(price) by user_id
df_merged_dataset['avg_price'] = df_merged_dataset.groupby(['user_id'])['prices'].transform('mean')

In [34]:
#Confirm results
df_merged_dataset[['user_id', 'avg_price']].head(100)

    user_id  avg_price
0         1   6.367797
1         1   6.367797
2         1   6.367797
3         1   6.367797
4         1   6.367797
..      ...        ...
95        2   7.515897
96        2   7.515897
97        2   7.515897
98        2   7.515897
99        2   7.515897

[100 rows x 2 columns]

In [35]:
#Dimensions
df_merged_dataset.shape

(32403719, 27)

## 3.5. Spending Flag

In [36]:
df_merged_dataset['avg_price'].describe()

count    3.240372e+07
mean     7.792048e+00
std      7.348679e-01
min      1.000000e+00
25%      7.379634e+00
50%      7.813158e+00
75%      8.230503e+00
max      2.320000e+01
Name: avg_price, dtype: float64

In [37]:
# Define conditions
conditions = [
    df_merged_dataset['avg_price'] <= 5,
    (df_merged_dataset['avg_price'] > 5) & (df_merged_dataset['avg_price'] <= 15),
    df_merged_dataset['avg_price'] > 15
]
# Define corresponding labels
labels = ['Low Spender', 'Moderate Spender', 'High Spender']

# Assign loyalty flags using np.select()
df_merged_dataset['spending_flag'] = np.select(conditions, labels, default = 'Unknown')

In [38]:
#Confirm results
df_merged_dataset[['avg_price', 'spending_flag']].head(100)

    avg_price     spending_flag
0    6.367797  Moderate Spender
1    6.367797  Moderate Spender
2    6.367797  Moderate Spender
3    6.367797  Moderate Spender
4    6.367797  Moderate Spender
..        ...               ...
95   7.515897  Moderate Spender
96   7.515897  Moderate Spender
97   7.515897  Moderate Spender
98   7.515897  Moderate Spender
99   7.515897  Moderate Spender

[100 rows x 2 columns]

In [39]:
#Dimensions
df_merged_dataset.shape

(32403719, 28)

In [40]:
#Check frequency distribution of new variable
df_merged_dataset['spending_flag'].value_counts(dropna = False)

spending_flag
Moderate Spender    32315896
Low Spender            87560
High Spender             263
Name: count, dtype: int64

In [41]:
#Check distribution of user_id's by spending_flag
df_merged_dataset.groupby('spending_flag')['user_id'].nunique()

spending_flag
High Spender            22
Low Spender           2919
Moderate Spender    203268
Name: user_id, dtype: int64

## 3.6. Max Order

In [42]:
#Group by 'user_id' and return the 'max_order' number in new column
df_merged_dataset['max_order'] = df_merged_dataset.groupby(['user_id'])['user_order_count'].transform('max')

In [43]:
#Confirm results
df_merged_dataset[['user_id', 'max_order']].head(100)

    user_id  max_order
0         1         10
1         1         10
2         1         10
3         1         10
4         1         10
..      ...        ...
95        2         14
96        2         14
97        2         14
98        2         14
99        2         14

[100 rows x 2 columns]

In [44]:
#Dimensions
df_merged_dataset.shape

(32403719, 29)

## 3.7. Engagement Flag

In [45]:
df_merged_dataset['max_order'].describe()

count    3.240372e+07
mean     3.305262e+01
std      2.515541e+01
min      1.000000e+00
25%      1.300000e+01
50%      2.600000e+01
75%      4.700000e+01
max      9.900000e+01
Name: max_order, dtype: float64

In [46]:
# Define conditions
conditions = [
    df_merged_dataset['max_order'] <= 14, #bottom 25%
    (df_merged_dataset['max_order'] > 14) & (df_merged_dataset['max_order'] <= 48), #middle 50%
    df_merged_dataset['max_order'] > 48 #top 25%
]

# Define corresponding labels
labels = ['Low Engagement', 'Moderate Engagement', 'High Engagement']

# Assign loyalty flags using np.select()
df_merged_dataset['engagement_flag'] = np.select(conditions, labels, default = 'Unknown')

In [47]:
#Confirm results
df_merged_dataset[['max_order', 'engagement_flag']].head(100)

    max_order engagement_flag
0          10  Low Engagement
1          10  Low Engagement
2          10  Low Engagement
3          10  Low Engagement
4          10  Low Engagement
..        ...             ...
95         14  Low Engagement
96         14  Low Engagement
97         14  Low Engagement
98         14  Low Engagement
99         14  Low Engagement

[100 rows x 2 columns]

In [48]:
#Dimensions
df_merged_dataset.shape

(32403719, 30)

In [49]:
#Check frequency distribution of new variable
df_merged_dataset['engagement_flag'].value_counts(dropna = False)

engagement_flag
Moderate Engagement    15499267
Low Engagement          9227866
High Engagement         7676586
Name: count, dtype: int64

In [50]:
#Check distribution of user_id's by loyalty_flag
df_merged_dataset.groupby('engagement_flag')['user_id'].nunique()

engagement_flag
High Engagement         11464
Low Engagement         136320
Moderate Engagement     58425
Name: user_id, dtype: int64

In [51]:
#Basic price statistics by loyalty_flag
df_merged_dataset.groupby('engagement_flag').agg({'prices': ['mean', 'min', 'max']})

                       prices
                         mean  min   max
engagement_flag
High Engagement      7.766651  1.0  25.0
Low Engagement       7.802519  1.0  25.0
Moderate Engagement  7.798393  1.0  25.0

## 3.8. Median Days

In [52]:
#Median of days_since_prior_order by user_id
df_merged_dataset['median_days'] = df_merged_dataset.groupby(['user_id'])['days_since_last_order'].transform('median')

In [53]:
#Confirm results
df_merged_dataset[['user_id', 'median_days']].head(100)

    user_id  median_days
0         1         20.5
1         1         20.5
2         1         20.5
3         1         20.5
4         1         20.5
..      ...          ...
95        2         13.0
96        2         13.0
97        2         13.0
98        2         13.0
99        2         13.0

[100 rows x 2 columns]

In [54]:
#Dimensions
df_merged_dataset.shape

(32403719, 31)

## 3.9. Frequency Flag

In [55]:
df_merged_dataset['median_days'].describe()

count    3.240371e+07
mean     1.039772e+01
std      7.131751e+00
min      0.000000e+00
25%      6.000000e+00
50%      8.000000e+00
75%      1.300000e+01
max      3.000000e+01
Name: median_days, dtype: float64

In [56]:
#Check frequency distribution of new variable
df_merged_dataset['median_days'].value_counts(dropna = False)

median_days
7.0     5682308
6.0     2983630
8.0     2713829
5.0     2485736
4.0     2314265
         ...
27.5       5292
29.5       5095
1.5        1684
0.5         235
NaN           5
Name: count, Length: 62, dtype: int64

In [57]:
#Variable includes 5 NaN values where days_since_last-order is Nan - Include under Rare Shopper
df_null_median_days = df_merged_dataset[df_merged_dataset['median_days'].isna()]
df_null_median_days

,order_id,user_id,user_order_count,order_day_of_week,order_hour_of_day,days_since_last_order,is_first_order,product_id,add_to_cart_order,reordered,...,department,busiest_days,busiest_hours,price_label,mean_price,avg_price,spending_flag,max_order,engagement_flag,median_days
25156010,895835,159838,1,0,17,NaN,True,22198,1,0,...,household,Most Busy,Most Busy,Low Range,5.7,7.42,Moderate Spender,1,Low Engagement,NaN
25156011,895835,159838,1,0,17,NaN,True,23695,2,0,...,frozen,Most Busy,Most Busy,Low Range,5.7,7.42,Moderate Spender,1,Low Engagement,NaN
25156012,895835,159838,1,0,17,NaN,True,10749,3,0,...,produce,Most Busy,Most Busy,Mid Range,5.7,7.42,Moderate Spender,1,Low Engagement,NaN
25156013,895835,159838,1,0,17,NaN,True,21334,5,0,...,produce,Most Busy,Most Busy,Mid Range,5.7,7.42,Moderate Spender,1,Low Engagement,NaN
25156014,895835,159838,1,0,17,NaN,True,33401,6,0,...,dairy eggs,Most Busy,Most Busy,Mid Range,5.7,7.42,Moderate Spender,1,Low Engagement,NaN

In [58]:
df_null_median_days = df_merged_dataset[df_merged_dataset['median_days'].isna()]
df_null_median_days

,order_id,user_id,user_order_count,order_day_of_week,order_hour_of_day,days_since_last_order,is_first_order,product_id,add_to_cart_order,reordered,...,department,busiest_days,busiest_hours,price_label,mean_price,avg_price,spending_flag,max_order,engagement_flag,median_days
25156010,895835,159838,1,0,17,NaN,True,22198,1,0,...,household,Most Busy,Most Busy,Low Range,5.7,7.42,Moderate Spender,1,Low Engagement,NaN
25156011,895835,159838,1,0,17,NaN,True,23695,2,0,...,frozen,Most Busy,Most Busy,Low Range,5.7,7.42,Moderate Spender,1,Low Engagement,NaN
25156012,895835,159838,1,0,17,NaN,True,10749,3,0,...,produce,Most Busy,Most Busy,Mid Range,5.7,7.42,Moderate Spender,1,Low Engagement,NaN
25156013,895835,159838,1,0,17,NaN,True,21334,5,0,...,produce,Most Busy,Most Busy,Mid Range,5.7,7.42,Moderate Spender,1,Low Engagement,NaN
25156014,895835,159838,1,0,17,NaN,True,33401,6,0,...,dairy eggs,Most Busy,Most Busy,Mid Range,5.7,7.42,Moderate Spender,1,Low Engagement,NaN

In [59]:
# Define conditions
conditions = [
    df_merged_dataset['median_days'] <= 6,
    (df_merged_dataset['median_days'] > 6) & (df_merged_dataset['median_days'] <= 13),
    df_merged_dataset['median_days'] > 13,
    df_merged_dataset['median_days'].isna()
]

# Define corresponding labels
labels = ['Frequent Shopper', 'Occasional Shopper', 'Rare Shopper', 'Rare Shopper']

# Assign loyalty flags using np.select()
df_merged_dataset['frequency_flag'] = np.select(conditions, labels, default = 'Unknown')

In [60]:
#Confirm results
df_merged_dataset[['median_days', 'frequency_flag']].head()

   median_days frequency_flag
0         20.5   Rare Shopper
1         20.5   Rare Shopper
2         20.5   Rare Shopper
3         20.5   Rare Shopper
4         20.5   Rare Shopper

In [61]:
#Dimensions
df_merged_dataset.shape

(32403719, 32)

In [62]:
#Check frequency distribution of new variable
df_merged_dataset['frequency_flag'].value_counts(dropna = False)

frequency_flag
Occasional Shopper    14622992
Frequent Shopper      10091201
Rare Shopper           7689526
Name: count, dtype: int64

In [63]:
#Check distribution of user_id's by frequency_flag
df_merged_dataset.groupby('frequency_flag')['user_id'].nunique()

frequency_flag
Frequent Shopper      33888
Occasional Shopper    75152
Rare Shopper          97169
Name: user_id, dtype: int64

In [64]:
#Basic price statistics by loyalty_flag
df_merged_dataset.groupby('frequency_flag').agg({'prices': ['mean', 'min', 'max']})

                      prices
                        mean  min   max
frequency_flag
Frequent Shopper    7.802115  1.0  25.0
Occasional Shopper  7.787947  1.0  25.0
Rare Shopper        7.786636  1.0  25.0

## 3.10. Customer Tenure

In [65]:
#Check frequency distribution of new variable
df_merged_dataset['date_joined'].value_counts(dropna = False)

date_joined
2018-07-28    37811
2017-03-16    37222
2017-03-10    36554
2018-01-07    36467
2017-03-06    36240
              ...
2019-02-27    19210
2019-09-24    19130
2018-08-06    18833
2018-12-15    18166
2019-10-09    17974
Name: count, Length: 1187, dtype: int64

In [66]:
df_merged_dataset['date_joined'].describe()

count                         32403719
mean     2018-08-16 15:34:57.046292736
min                2017-01-01 00:00:00
25%                2017-10-22 00:00:00
50%                2018-08-16 00:00:00
75%                2019-06-09 00:00:00
max                2020-04-01 00:00:00
Name: date_joined, dtype: object

In [67]:
# Define the reference date for analysis
reference_date = pd.to_datetime('2020-04-01')

# Calculate customer tenure based on the fixed reference date
df_merged_dataset['customer_tenure'] = (reference_date - df_merged_dataset['date_joined']).dt.days

In [68]:
#Confirm results
df_merged_dataset[['date_joined', 'customer_tenure']].head(100)

   date_joined  customer_tenure
0   2019-02-17              409
1   2019-02-17              409
2   2019-02-17              409
3   2019-02-17              409
4   2019-02-17              409
..         ...              ...
95  2017-07-04             1002
96  2017-07-04             1002
97  2017-07-04             1002
98  2017-07-04             1002
99  2017-07-04             1002

[100 rows x 2 columns]

In [69]:
 #Dimensions
df_merged_dataset.shape

(32403719, 33)

## 3.11. Activity Rate

In [70]:
df_merged_dataset['customer_tenure'].describe()

count    3.240372e+07
mean     5.933507e+02
std      3.433089e+02
min      0.000000e+00
25%      2.970000e+02
50%      5.940000e+02
75%      8.920000e+02
max      1.186000e+03
Name: customer_tenure, dtype: float64

In [71]:
df_merged_dataset['activity_rate'] = df_merged_dataset['max_order'] / (df_merged_dataset['customer_tenure'] / 30)  # Orders per month

In [72]:
#Confirm results
df_merged_dataset[['max_order', 'customer_tenure', 'activity_rate']].head(100)

    max_order  customer_tenure  activity_rate
0          10              409       0.733496
1          10              409       0.733496
2          10              409       0.733496
3          10              409       0.733496
4          10              409       0.733496
..        ...              ...            ...
95         14             1002       0.419162
96         14             1002       0.419162
97         14             1002       0.419162
98         14             1002       0.419162
99         14             1002       0.419162

[100 rows x 3 columns]

In [73]:
#Dimensions
df_merged_dataset.shape

(32403719, 34)

## 3.12. Activity Flag

In [74]:
df_merged_dataset['activity_rate'].describe()

count    3.240372e+07
mean              inf
std               NaN
min      5.617978e-02
25%      6.795017e-01
50%      1.509202e+00
75%      3.349515e+00
max               inf
Name: activity_rate, dtype: float64

In [75]:
# Define conditions
conditions = [
    df_merged_dataset['activity_rate'] <= 0.72, #bottom 25%
    (df_merged_dataset['activity_rate'] > 0.72) & (df_merged_dataset['activity_rate'] <= 3.4), #middle 50%
    df_merged_dataset['activity_rate'] > 3.4 #top 25%
]

# Define corresponding labels
labels = ['Low Activity', 'Moderate Activity', 'High Activity']

# Assign loyalty flags using np.select()
df_merged_dataset['activity_flag'] = np.select(conditions, labels, default = 'Unknown')

In [76]:
#Confirm results
df_merged_dataset[['activity_rate', 'activity_flag']].head()

   activity_rate      activity_flag
0       0.733496  Moderate Activity
1       0.733496  Moderate Activity
2       0.733496  Moderate Activity
3       0.733496  Moderate Activity
4       0.733496  Moderate Activity

In [77]:
#Dimensions
df_merged_dataset.shape

(32403719, 35)

In [78]:
#Check frequency distribution of new variable
df_merged_dataset['activity_flag'].value_counts(dropna = False)

activity_flag
Moderate Activity    15809078
Low Activity          8598721
High Activity         7995920
Name: count, dtype: int64

In [79]:
#Check distribution of user_id's by frequency_flag
df_merged_dataset.groupby('activity_flag')['user_id'].nunique()

activity_flag
High Activity         24068
Low Activity         114741
Moderate Activity     67400
Name: user_id, dtype: int64

## 3.13. Loyalty Score

In [80]:
#Check frequency distribution of new variable
df_merged_dataset['spending_flag'].value_counts(dropna = False)

spending_flag
Moderate Spender    32315896
Low Spender            87560
High Spender             263
Name: count, dtype: int64

In [81]:
df_merged_dataset['engagement_flag'].value_counts(dropna = False)

engagement_flag
Moderate Engagement    15499267
Low Engagement          9227866
High Engagement         7676586
Name: count, dtype: int64

In [82]:
#Check frequency distribution of new variable
df_merged_dataset['frequency_flag'].value_counts(dropna = False)

frequency_flag
Occasional Shopper    14622992
Frequent Shopper      10091201
Rare Shopper           7689526
Name: count, dtype: int64

In [83]:
#Check frequency distribution of new variable
df_merged_dataset['activity_flag'].value_counts(dropna = False)

activity_flag
Moderate Activity    15809078
Low Activity          8598721
High Activity         7995920
Name: count, dtype: int64

In [84]:
# Define mapping of flags to numerical scores
spending_mapping = {'Low Spender': 1, 'Moderate Spender': 2, 'High Spender': 3}
engagement_mapping = {'Low Engagement': 1, 'Moderate Engagement': 2, 'High Engagement': 3}
frequency_mapping = {'Rare Shopper': 1, 'Occasional Shopper': 2, 'Frequent Shopper': 3}
activity_mapping = {'Low Activity': 1, 'High Activity': 2, 'Moderate Activity': 3}

# Map the categorical flags to numerical scores
df_merged_dataset['spending_score'] = df_merged_dataset['spending_flag'].map(spending_mapping)
df_merged_dataset['engagement_score'] = df_merged_dataset['engagement_flag'].map(engagement_mapping)
df_merged_dataset['frequency_score'] = df_merged_dataset['frequency_flag'].map(frequency_mapping)
df_merged_dataset['activity_score'] = df_merged_dataset['activity_flag'].map(activity_mapping)

# Calculate the Total Loyalty Score
df_merged_dataset['total_loyalty_score'] = (
    df_merged_dataset['spending_score'] +
    df_merged_dataset['engagement_score'] +
    df_merged_dataset['frequency_score'] +
    df_merged_dataset['activity_score']
)

In [85]:
#Confirm results
df_merged_dataset[['spending_flag', 'engagement_flag', 'frequency_flag', 'activity_flag', 
                   'spending_score', 'engagement_score', 'frequency_score', 'activity_score',
                  'total_loyalty_score']].head(100)

,spending_flag,engagement_flag,frequency_flag,activity_flag,spending_score,engagement_score,frequency_score,activity_score,total_loyalty_score
0,Moderate Spender,Low Engagement,Rare Shopper,Moderate Activity,2,1,1,3,7
1,Moderate Spender,Low Engagement,Rare Shopper,Moderate Activity,2,1,1,3,7
2,Moderate Spender,Low Engagement,Rare Shopper,Moderate Activity,2,1,1,3,7
3,Moderate Spender,Low Engagement,Rare Shopper,Moderate Activity,2,1,1,3,7
4,Moderate Spender,Low Engagement,Rare Shopper,Moderate Activity,2,1,1,3,7
...,...,...,...,...,...,...,...,...,...
95,Moderate Spender,Low Engagement,Occasional Shopper,Low Activity,2,1,2,1,6
96,Moderate Spender,Low Engagement,Occasional Shopper,Low Activity,2,1,2,1,6
97,Moderate Spender,Low Engagement,Occasional Shopper,Low Activity,2,1,2,1,6
98,Moderate Spender,Low Engagement,Occasional Shopper,Low Activity,2,1,2,1,6
99,Moderate Spender,Low Engagement,Occasional Shopper,Low Activity,2,1,2,1,6

In [86]:
#Dimensions
df_merged_dataset.shape

(32403719, 40)

## 3.14. Loyalty Flag

In [87]:
df_merged_dataset['total_loyalty_score'].describe()

count    3.240372e+07
mean     8.246066e+00
std      1.830473e+00
min      4.000000e+00
25%      7.000000e+00
50%      9.000000e+00
75%      1.000000e+01
max      1.100000e+01
Name: total_loyalty_score, dtype: float64

In [88]:
# Define conditions for loyalty categories
conditions = [
    (df_merged_dataset['total_loyalty_score'] <= 7),
    (df_merged_dataset['total_loyalty_score'] > 7) & (df_merged_dataset['total_loyalty_score'] <= 10),
    (df_merged_dataset['total_loyalty_score'] > 10)
]

# Define corresponding loyalty categories
labels = ['Low Loyalty', 'Moderate Loyalty', 'High Loyalty']

# Assign loyalty categories based on conditions
df_merged_dataset['loyalty_flag'] = np.select(conditions, labels, default = 'Unknown')

In [89]:
#Confirm results
df_merged_dataset.head(100)

,order_id,user_id,user_order_count,order_day_of_week,order_hour_of_day,days_since_last_order,is_first_order,product_id,add_to_cart_order,reordered,...,frequency_flag,customer_tenure,activity_rate,activity_flag,spending_score,engagement_score,frequency_score,activity_score,total_loyalty_score,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Rare Shopper,409,0.733496,Moderate Activity,2,1,1,3,7,Low Loyalty
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,Rare Shopper,409,0.733496,Moderate Activity,2,1,1,3,7,Low Loyalty
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,Rare Shopper,409,0.733496,Moderate Activity,2,1,1,3,7,Low Loyalty
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,Rare Shopper,409,0.733496,Moderate Activity,2,1,1,3,7,Low Loyalty
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,Rare Shopper,409,0.733496,Moderate Activity,2,1,1,3,7,Low Loyalty
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,738281,2,4,2,10,8.0,False,21150,13,0,...,Occasional Shopper,1002,0.419162,Low Activity,2,1,2,1,6,Low Loyalty
96,1673511,2,5,3,11,8.0,False,47144,1,0,...,Occasional Shopper,1002,0.419162,Low Activity,2,1,2,1,6,Low Loyalty
97,1673511,2,5,3,11,8.0,False,5322,2,0,...,Occasional Shopper,1002,0.419162,Low Activity,2,1,2,1,6,Low Loyalty
98,1673511,2,5,3,11,8.0,False,17224,3,0,...,Occasional Shopper,1002,0.419162,Low Activity,2,1,2,1,6,Low Loyalty
99,1673511,2,5,3,11,8.0,False,38656,4,0,...,Occasional Shopper,1002,0.419162,Low Activity,2,1,2,1,6,Low Loyalty

In [90]:
#Dimensions
df_merged_dataset.shape

(32403719, 41)

In [91]:
#Check frequency distribution of new variable
df_merged_dataset['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Moderate Loyalty    19014746
Low Loyalty         10490196
High Loyalty         2898777
Name: count, dtype: int64

In [92]:
#Check distribution of user_id's by frequency_flag
df_merged_dataset.groupby('loyalty_flag')['user_id'].nunique()

loyalty_flag
High Loyalty          4511
Low Loyalty         137139
Moderate Loyalty     64559
Name: user_id, dtype: int64

## 3.15. Region

In [93]:
#View values in state variable
df_merged_dataset['state'].value_counts(dropna = False).sort_index()

state
Alabama                 637971
Alaska                  648487
Arizona                 653930
Arkansas                636136
California              659765
Colorado                639260
Connecticut             622998
Delaware                637000
District of Columbia    613685
Florida                 629023
Georgia                 656373
Hawaii                  632887
Idaho                   607091
Illinois                632998
Indiana                 627258
Iowa                    625475
Kansas                  637516
Kentucky                632484
Louisiana               637466
Maine                   638559
Maryland                626555
Massachusetts           646352
Michigan                630918
Minnesota               647791
Mississippi             632637
Missouri                640706
Montana                 635241
Nebraska                625771
Nevada                  636117
New Hampshire           615366
New Jersey              627644
New Mexico              654478
New York                635965
North Carolina          651886
North Dakota            638473
Ohio                    628285
Oklahoma                651701
Oregon                  636403
Pennsylvania            667062
Rhode Island            656891
South Carolina          636708
South Dakota            633754
Tennessee               617835
Texas                   640366
Utah                    611913
Vermont                 611713
Virginia                641409
Washington              632826
West Virginia           612278
Wisconsin               628070
Wyoming                 644243
Name: count, dtype: int64

In [94]:
#Count values in state variable
df_merged_dataset['state'].nunique(dropna = False)

51

In [95]:
#Allocate states to regions
result_3 = []
for value in df_merged_dataset['state']:
  if value in ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']:
    result_3.append('Northeast')
  elif value in ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']:
    result_3.append('Midwest')
  elif value in ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']:
    result_3.append('South')
  elif value in ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']:
    result_3.append('West')
  else:
    result_3.append('Unallocated')

In [96]:
#Assign result to a new column
df_merged_dataset['region'] = result_3

In [97]:
#Get dimensions
df_merged_dataset.shape

(32403719, 42)

In [98]:
#Get column names
df_merged_dataset.columns

Index(['order_id', 'user_id', 'user_order_count', 'order_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'is_first_order',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'gender', 'state', 'age',
       'date_joined', 'number_of_dependants', 'marital_status', 'income',
       'department', 'busiest_days', 'busiest_hours', 'price_label',
       'mean_price', 'avg_price', 'spending_flag', 'max_order',
       'engagement_flag', 'median_days', 'frequency_flag', 'customer_tenure',
       'activity_rate', 'activity_flag', 'spending_score', 'engagement_score',
       'frequency_score', 'activity_score', 'total_loyalty_score',
       'loyalty_flag', 'region'],
      dtype='object')

In [99]:
#View distribution of values in 'region' column
df_merged_dataset['region'].value_counts(dropna = False)

region
South        10791513
West          8292641
Midwest       7597015
Northeast     5722550
Name: count, dtype: int64

## 3.16. Age

In [100]:
#View values in 'age' column
df_merged_dataset['age'].value_counts(dropna = False).sort_index()

age
18    500446
19    519596
20    502830
21    512511
22    513815
       ...
77    502108
78    495299
79    529724
80    515224
81    509282
Name: count, Length: 64, dtype: int64

In [101]:
df_merged_dataset['age'].describe()

count    3.240372e+07
mean     4.946528e+01
std      1.848556e+01
min      1.800000e+01
25%      3.300000e+01
50%      4.900000e+01
75%      6.500000e+01
max      8.100000e+01
Name: age, dtype: float64

In [102]:
#Allocate age
result_4 = []
for value in df_merged_dataset['age']:
  if value <= 25:
    result_4.append('Young Adult')
  elif value <= 45:
    result_4.append('Adult')
  elif value <= 65:
    result_4.append('Middle Aged')
  else:
    result_4.append('Senior')

In [103]:
#Assign result to a new column
df_merged_dataset['age_profile'] = result_4

In [104]:
#View dimensions
df_merged_dataset.shape

(32403719, 43)

In [105]:
#Check frequency distribution of new variable
df_merged_dataset['age_profile'].value_counts(dropna = False)

age_profile
Adult          10155790
Middle Aged    10115107
Senior          8087791
Young Adult     4045031
Name: count, dtype: int64

In [106]:
#Check distribution of user_id's by frequency_flag
df_merged_dataset.groupby('age_profile')['user_id'].nunique()

age_profile
Adult          64516
Middle Aged    64422
Senior         51584
Young Adult    25687
Name: user_id, dtype: int64

## 3.17. Income

In [107]:
df_merged_dataset['income'].describe()

count    3.240372e+07
mean     9.943758e+04
std      4.305685e+04
min      2.590300e+04
25%      6.700300e+04
50%      9.661700e+04
75%      1.279120e+05
max      5.939010e+05
Name: income, dtype: float64

In [108]:
df_merged_dataset['income'].value_counts(dropna = False).sort_index()

income
25903      20
25911      28
25937      39
25941      31
25955     392
         ...
584097    826
590790     54
591089    176
592409    318
593901    640
Name: count, Length: 108012, dtype: int64

In [109]:
#Allocate income
result_5 = []
for value in df_merged_dataset['income']:
  if value <= 55000:
    result_5.append('Low Income')
  elif value <= 150000:
    result_5.append('Middle Income')
  else:
    result_5.append('High Income')

In [110]:
#Assign result to a new column
df_merged_dataset['income_profile'] = result_5

In [111]:
#View dimensions
df_merged_dataset.shape

(32403719, 44)

In [112]:
#Check frequency distribution of new variable
df_merged_dataset['income_profile'].value_counts(dropna = False)

income_profile
Middle Income    23613160
Low Income        4739847
High Income       4050712
Name: count, dtype: int64

In [113]:
#Check distribution of user_id's by frequency_flag
df_merged_dataset.groupby('income_profile')['user_id'].nunique()

income_profile
High Income       23251
Low Income        42113
Middle Income    140845
Name: user_id, dtype: int64

## 3.18. Parental Status

In [114]:
df_merged_dataset['number_of_dependants'].value_counts(dropna = False).sort_index()

number_of_dependants
0    8097297
1    8080806
2    8090893
3    8134723
Name: count, dtype: int64

In [115]:
#Allocate dependents
result_6 = []
for value in df_merged_dataset['number_of_dependants']:
  if value == 0:
    result_6.append('non-parent')
  elif value > 0:
    result_6.append('parent')
  else:
    result_6.append('unallocated') #Check

In [116]:
#Assign result to a new column
df_merged_dataset['parental_status'] = result_6

In [117]:
#View dimensions
df_merged_dataset.shape

(32403719, 45)

In [118]:
#Check frequency distribution of new variable
df_merged_dataset['parental_status'].value_counts(dropna = False)

parental_status
parent        24306422
non-parent     8097297
Name: count, dtype: int64

In [119]:
#Check distribution of user_id's by frequency_flag
df_merged_dataset.groupby('parental_status')['user_id'].nunique()

parental_status
non-parent     51602
parent        154607
Name: user_id, dtype: int64

## 3.19. Family Status

In [120]:
df_merged_dataset['marital_status'].value_counts(dropna = False).sort_index()

marital_status
divorced/widowed                     2771700
living with parents and siblings     1550545
married                             22755877
single                               5325597
Name: count, dtype: int64

In [121]:
#Check distribution of user_id's by frequency_flag
df_merged_dataset.groupby('marital_status')['user_id'].nunique()

marital_status
divorced/widowed                     17640
living with parents and siblings      9701
married                             144906
single                               33962
Name: user_id, dtype: int64

In [122]:
#Cross variables
marital_vs_parental_status = pd.crosstab(df_merged_dataset['marital_status'], df_merged_dataset['parental_status'], dropna = False)
marital_vs_parental_status

parental_status                   non-parent    parent
marital_status
divorced/widowed                     2771700         0
living with parents and siblings           0   1550545
married                                    0  22755877
single                               5325597         0

##### Allocate lables as follows:
- None of the divorced/widowed and single users have children and can be classified as single adults.
- All users that live with their parents or siblings are also parents and can be classified as young parents.
- All married users are parents and can be classified as families.

In [123]:
#Allocate family status
result_7 = []
for value in df_merged_dataset['marital_status']:
  if value == 'divorced/widowed':
    result_7.append('Single Adult')
  elif value == 'living with parents and siblings':
    result_7.append('Young Parent')
  elif value == 'married':
    result_7.append('Family')
  elif value == 'single':
    result_7.append('Single Adult')
  else:
    result_7.append('unallocated')

In [124]:
#Assign result to a new column
df_merged_dataset['family_status'] = result_7

In [125]:
#View dimensions
df_merged_dataset.shape

(32403719, 46)

In [126]:
#Check frequency distribution of new variable
df_merged_dataset['family_status'].value_counts(dropna = False)

family_status
Family          22755877
Single Adult     8097297
Young Parent     1550545
Name: count, dtype: int64

In [127]:
#Check distribution of user_id's by frequency_flag
df_merged_dataset.groupby('family_status')['user_id'].nunique()

family_status
Family          144906
Single Adult     51602
Young Parent      9701
Name: user_id, dtype: int64

## 3.20. Product Category

In [128]:
#View distribution of values in 'department_id' column
df_merged_dataset['department_id'].value_counts(dropna = False)

department_id
4     9479291
16    5398185
19    2887550
7     2688115
1     2234743
13    1875369
3     1172428
15    1068058
20    1051249
9      866627
17     738666
12     708927
14     703033
11     447010
18     423794
6      269253
5      153696
8       97716
21      69145
2       36291
10      34573
Name: count, dtype: int64

##### Categories can be allocated as follows:
- beverages as beverages [7]
- alcoholic as alcoholic beverages [5]
- dairy eggs, deli, meat seafood, produce & bakery as perishables [16,20,12,4,3]
- frozen, bulk, canned goods, dry goods pasta, pantry, snacks & breakfast as non-perishables [1,10,15,9,13,19,14]
- household as household [17]
- personal care as personal care [11]
- pets as pets [8]
- babies as babies [18]
- international, missing & other as miscellaneous [6,21,2]

In [129]:
#Allocate departments
result_8 = []
for value in df_merged_dataset['department_id']:
  if value in [7]:
    result_8.append('beverages')
  elif value in [5]:
    result_8.append('alcoholic beverages')
  elif value in [16,20,12,4,3]:
    result_8.append('perishables')
  elif value in [1,10,15,9,13,19,14]:
    result_8.append('non-perishables')
  elif value in [17]:
    result_8.append('household')
  elif value in [11]:
    result_8.append('personal care')
  elif value in [8]:
    result_8.append('pets')
  elif value in [18]:
    result_8.append('babies')
  elif value in [6,21,2]:
    result_8.append('miscellaneous')
  else:
    result_8.append('unallocated') #Check

In [130]:
#Assign result to a new column
df_merged_dataset['product_category'] = result_8

In [131]:
#View dimensions
df_merged_dataset.shape

(32403719, 47)

In [132]:
#Check frequency distribution of new variable
df_merged_dataset['product_category'].value_counts(dropna = False)

product_category
perishables            17810080
non-perishables         9669953
beverages               2688115
household                738666
personal care            447010
babies                   423794
miscellaneous            374689
alcoholic beverages      153696
pets                      97716
Name: count, dtype: int64

# 4. Exports

In [133]:
#Confirm dimensions
df_merged_dataset.shape

(32403719, 47)

In [ ]:
#Export merged dataset
#df_merged_dataset.to_pickle(os.path.join(path, '02 - Data', 'Prepared Data', 'final_dataset.pkl'))