# Import libraries

In [2]:
import pandas as pd
import numpy as np
import os

# Import datasets

In [4]:
path = r'/Users/davidgriesel/Documents/0 - CareerFoundry/02 - Data Analytics Immersion/04 - Python Fundamentals for Data Analysts/Instacart Basket Analysis - IC 202409'

In [5]:
df_customers = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'customers.csv'), index_col = False)

In [6]:
df_departments = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'departments.csv'), index_col = False)

In [7]:
df_orders_products_prior = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [8]:
df_orders = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'orders.csv'), index_col = False)

In [9]:
df_products = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'products.csv'), index_col = False)

# Dimensions after import

In [11]:
df_customers.shape

(206209, 10)

In [12]:
df_departments.shape

(1, 22)

In [13]:
df_orders_products_prior.shape

(32434489, 4)

In [14]:
df_orders.shape

(3421083, 7)

In [15]:
df_products.shape

(49693, 5)

# Wrangling

## Customers

In [18]:
df_customers_wrangled = df_customers.copy()

In [19]:
df_customers_wrangled.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

### Renaming columns

In [21]:
df_customers_wrangled.rename(columns = {
    'First Name': 'first_name', 
    'Surnam': 'surname',
    'Gender': 'gender',
    'STATE': 'state',
    'Age': 'age',
    'n_dependants': 'number_of_dependents',
    'fam_status': 'family_status'
}, inplace = True)

In [22]:
df_customers_wrangled.columns

Index(['user_id', 'first_name', 'surname', 'gender', 'state', 'age',
       'date_joined', 'number_of_dependents', 'family_status', 'income'],
      dtype='object')

### Chaning data types

In [24]:
df_customers_wrangled.dtypes

user_id                  int64
first_name              object
surname                 object
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependents     int64
family_status           object
income                   int64
dtype: object

### Dropping columns

In [26]:
df_customers_wrangled.isnull().sum()

user_id                     0
first_name              11259
surname                     0
gender                      0
state                       0
age                         0
date_joined                 0
number_of_dependents        0
family_status               0
income                      0
dtype: int64

In [27]:
df_customers_wrangled['first_name'].value_counts(dropna = False).sort_index()

first_name
Aaron        800
Adam         811
Alan         641
Albert      1240
Alice       1629
           ...
Wanda        392
Wayne        807
William      605
Willie      1031
NaN        11259
Name: count, Length: 208, dtype: int64

In [28]:
df_customers_wrangled['surname'].value_counts(dropna = False).sort_index()

surname
Abbott       189
Acevedo      205
Acosta       185
Adams        204
Adkins       225
            ...
Zamora       204
Zavala       213
Zhang        213
Zimmerman    216
Zuniga       219
Name: count, Length: 1000, dtype: int64

In [29]:
df_customers_wrangled['gender'].value_counts(dropna = False).sort_index()

gender
Female    102142
Male      104067
Name: count, dtype: int64

In [30]:
df_customers_wrangled['state'].value_counts(dropna = False).sort_index()

state
Alabama                 4044
Alaska                  4044
Arizona                 4044
Arkansas                4044
California              4044
Colorado                4044
Connecticut             4044
Delaware                4044
District of Columbia    4044
Florida                 4044
Georgia                 4044
Hawaii                  4044
Idaho                   4044
Illinois                4044
Indiana                 4044
Iowa                    4044
Kansas                  4043
Kentucky                4043
Louisiana               4043
Maine                   4043
Maryland                4043
Massachusetts           4043
Michigan                4043
Minnesota               4043
Mississippi             4043
Missouri                4043
Montana                 4043
Nebraska                4043
Nevada                  4043
New Hampshire           4043
New Jersey              4043
New Mexico              4043
New York                4043
North Carolina          4043
North Dakota            4043
Ohio                    4043
Oklahoma                4043
Oregon                  4043
Pennsylvania            4043
Rhode Island            4043
South Carolina          4043
South Dakota            4043
Tennessee               4043
Texas                   4043
Utah                    4043
Vermont                 4043
Virginia                4043
Washington              4043
West Virginia           4043
Wisconsin               4043
Wyoming                 4043
Name: count, dtype: int64

In [31]:
df_customers_wrangled['age'].value_counts(dropna = False).sort_index()

age
18    3195
19    3329
20    3240
21    3176
22    3236
      ...
77    3261
78    3247
79    3234
80    3195
81    3263
Name: count, Length: 64, dtype: int64

In [32]:
df_customers_wrangled['date_joined'].value_counts(dropna = False).sort_index()

date_joined
1/1/2017     159
1/1/2018     147
1/1/2019     153
1/1/2020     153
1/10/2017    192
            ...
9/8/2018     164
9/8/2019     158
9/9/2017     186
9/9/2018     174
9/9/2019     181
Name: count, Length: 1187, dtype: int64

In [33]:
df_customers_wrangled['number_of_dependents'].value_counts(dropna = False).sort_index()

number_of_dependents
0    51602
1    51531
2    51482
3    51594
Name: count, dtype: int64

In [34]:
df_customers_wrangled['family_status'].value_counts(dropna = False).sort_index()

family_status
divorced/widowed                     17640
living with parents and siblings      9701
married                             144906
single                               33962
Name: count, dtype: int64

In [35]:
df_customers_wrangled['income'].value_counts(dropna = False).sort_index()

income
25903     1
25911     1
25937     1
25941     1
25955     1
         ..
584097    1
590790    1
591089    1
592409    1
593901    1
Name: count, Length: 108012, dtype: int64

## Departments

In [37]:
df_departments_wrangled = df_departments.copy()

In [38]:
df_departments_wrangled.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

### Transposing data

In [40]:
df_departments_wrangled = df_departments_wrangled.T

In [41]:
df_departments_wrangled.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [42]:
new_header = df_departments_wrangled.iloc[0]

In [43]:
df_departments_wrangled = df_departments_wrangled[1:]

In [44]:
df_departments_wrangled.columns = new_header

In [45]:
df_departments_wrangled

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

### Renaming columns

In [47]:
df_departments_wrangled.columns

Index(['department'], dtype='object', name='department_id')

### Chaning data types

In [49]:
df_departments_wrangled.dtypes

department_id
department    object
dtype: object

### Data dictionary

In [51]:
data_dictionary = df_departments_wrangled.to_dict('index')

In [52]:
data_dictionary

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

## Orders_products_prior

In [54]:
df_orders_products_prior_wrangled = df_orders_products_prior.copy()

In [55]:
df_orders_products_prior_wrangled.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### Renaming columns

In [57]:
df_orders_products_prior_wrangled.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

### Changing data types

In [59]:
df_orders_products_prior_wrangled.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

### Dropping columns

In [61]:
df_orders_products_prior_wrangled.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [62]:
df_orders_products_prior_wrangled['add_to_cart_order'].value_counts(dropna = False).sort_index()

add_to_cart_order
1      3214874
2      3058126
3      2871133
4      2664106
5      2442025
        ...
141          1
142          1
143          1
144          1
145          1
Name: count, Length: 145, dtype: int64

In [63]:
df_orders_products_prior_wrangled['reordered'].value_counts(dropna = False).sort_index()

reordered
0    13307953
1    19126536
Name: count, dtype: int64

## Orders

In [65]:
df_orders_wrangled = df_orders.copy()

In [66]:
df_orders_wrangled.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

### Renaming columns

In [68]:
df_orders_wrangled.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [69]:
df_orders_wrangled.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [70]:
df_orders_wrangled.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

### Changing data types

In [72]:
df_orders_wrangled.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [73]:
#df_orders['order_id'] = df_orders['order_id'].astype('str')

In [74]:
#df_orders['user_id'] = df_orders['user_id'].astype('str')

In [75]:
#df_orders['order_number'] = df_orders['order_number'].astype('str')

In [76]:
df_orders_wrangled.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

### Dropping columns

In [78]:
df_orders_wrangled.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [79]:
df_orders_wrangled['eval_set'].value_counts(dropna = False).sort_index()

eval_set
prior    3214874
test       75000
train     131209
Name: count, dtype: int64

In [80]:
df_orders_wrangled['orders_day_of_week'].value_counts(dropna = False).sort_index()

orders_day_of_week
0    600905
1    587478
2    467260
3    436972
4    426339
5    453368
6    448761
Name: count, dtype: int64

In [81]:
df_orders_wrangled['order_hour_of_day'].value_counts(dropna = False).sort_index()

order_hour_of_day
0      22758
1      12398
2       7539
3       5474
4       5527
5       9569
6      30529
7      91868
8     178201
9     257812
10    288418
11    284728
12    272841
13    277999
14    283042
15    283639
16    272553
17    228795
18    182912
19    140569
20    104292
21     78109
22     61468
23     40043
Name: count, dtype: int64

In [82]:
df_orders_wrangled['days_since_prior_order'].value_counts(dropna = False).sort_index()

days_since_prior_order
0.0      67755
1.0     145247
2.0     193206
3.0     217005
4.0     221696
5.0     214503
6.0     240013
7.0     320608
8.0     181717
9.0     118188
10.0     95186
11.0     80970
12.0     76146
13.0     83214
14.0    100230
15.0     66579
16.0     46941
17.0     39245
18.0     35881
19.0     34384
20.0     38527
21.0     45470
22.0     32012
23.0     23885
24.0     20712
25.0     19234
26.0     19016
27.0     22013
28.0     26777
29.0     19191
30.0    369323
NaN     206209
Name: count, dtype: int64

In [83]:
df_orders_wrangled = df_orders_wrangled.drop(columns = ['eval_set'])

In [84]:
df_orders_wrangled.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

## Products

In [86]:
df_products_wrangled = df_products.copy()

In [87]:
df_products_wrangled.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

### Renaming columns

In [89]:
df_products_wrangled.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

### Chaning data types

In [91]:
df_products_wrangled.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

### Dropping columns

In [93]:
df_products_wrangled.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [94]:
df_products_wrangled['product_name'].value_counts(dropna = False).sort_index()

product_name
#2 Coffee Filters                                             1
#2 Cone White Coffee Filters                                  1
#2 Mechanical Pencils                                         1
#4 Natural Brown Coffee Filters                               1
#NAME?                                                        1
                                                             ..
with Xylitol Unwrapped Spearmint 50 Sticks Sugar Free Gum     1
with Xylitol Watermelon Twist 18 Sticks Sugar Free Gum        1
with a Splash of Mango Coconut Water                          1
with a Splash of Pineapple Coconut Water                      1
NaN                                                          16
Name: count, Length: 49673, dtype: int64

In [95]:
df_products_wrangled['aisle_id'].value_counts(dropna = False).sort_index()

aisle_id
1      146
2      271
3      832
4      543
5      409
      ...
130    303
131    457
132    178
133    172
134     95
Name: count, Length: 134, dtype: int64

In [96]:
df_products_wrangled['department_id'].value_counts(dropna = False).sort_index()

department_id
1     4007
2      548
3     1516
4     1684
5     1056
6     1139
7     4365
8      972
9     1858
10      38
11    6565
12     907
13    5371
14    1116
15    2092
16    3449
17    3085
18    1081
19    6264
20    1322
21    1258
Name: count, dtype: int64

# Dimensions after wrangling

In [98]:
df_customers.shape

(206209, 10)

In [99]:
df_customers_wrangled.shape

(206209, 10)

In [100]:
df_departments.shape

(1, 22)

In [101]:
df_departments_wrangled.shape

(21, 1)

In [102]:
df_orders_products_prior.shape

(32434489, 4)

In [103]:
df_orders_products_prior_wrangled.shape

(32434489, 4)

In [104]:
df_orders.shape

(3421083, 7)

In [105]:
df_orders_wrangled.shape

(3421083, 6)

In [106]:
df_products.shape

(49693, 5)

In [107]:
df_products_wrangled.shape

(49693, 5)

# Subsets

## Snacks

In [110]:
df_snacks = df_products.loc[df_products['department_id'] == 19]

In [111]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [112]:
df_snacks.shape

(6264, 5)

## Breakfast

In [114]:
df_breakfast = df_products[df_products['department_id'] == 14]

In [115]:
df_breakfast.shape

(1116, 5)

In [116]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

## Dinner

In [118]:
df_dinner = df_products[df_products['department_id'].isin([5,7,12,20])]

In [119]:
df_dinner.shape

(7650, 5)

In [120]:
df_dinner.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

## User_id = 1

In [122]:
df_orders_user_1 = df_orders[df_orders['user_id'] == '1']

In [123]:
df_orders_user_1.shape

(0, 7)

In [124]:
df_orders_user_1.head()

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

In [125]:
df_orders_user_1.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN

# Consistency checks

## Customers

In [128]:
df_customers_cleaned = df_customers_wrangled.copy()

### Accuracy

In [130]:
df_customers_cleaned.describe()

             user_id            age  number_of_dependents         income
count  206209.000000  206209.000000         206209.000000  206209.000000
mean   103105.000000      49.501646              1.499823   94632.852548
std     59527.555167      18.480962              1.118433   42473.786988
min         1.000000      18.000000              0.000000   25903.000000
25%     51553.000000      33.000000              0.000000   59874.000000
50%    103105.000000      49.000000              1.000000   93547.000000
75%    154657.000000      66.000000              3.000000  124244.000000
max    206209.000000      81.000000              3.000000  593901.000000

###### age: Customers range between 18 and 81 years. With mean and median of 49. 
###### number_of_dependants: Range between 0 and 3 with most customers having 1 dependant. 
###### income: Customer income varies between 25903 and 593901 with average customer earning in the low 90's. Wide customer range in terms of income. 
###### Data set has 206209 total records which agree with order dataset.

### Mixed-type data

In [133]:
for col in df_customers_cleaned.columns.tolist():
    weird = (df_customers_cleaned[[col]].map(type) != df_customers_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_customers_cleaned[weird]) > 0:
        print (col)

first_name

In [134]:
#df_test['product_name'] = df_test['product_name'].astype('str')

In [135]:
df_customers_cleaned.dtypes

user_id                  int64
first_name              object
surname                 object
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependents     int64
family_status           object
income                   int64
dtype: object

### Missing values

In [137]:
df_customers_cleaned.isnull().sum()

user_id                     0
first_name              11259
surname                     0
gender                      0
state                       0
age                         0
date_joined                 0
number_of_dependents        0
family_status               0
income                      0
dtype: int64

### Duplicates

In [139]:
df_customers_cleaned_duplicates = df_customers_cleaned[df_customers_cleaned.duplicated()]

In [140]:
df_customers_cleaned_duplicates

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, number_of_dependents, family_status, income]
Index: []

## Departments

In [142]:
df_departments_cleaned = df_departments_wrangled.copy()

### Accuracy

In [144]:
df_departments_cleaned.describe()

department_id department
count                 21
unique                21
top               frozen
freq                   1

### Mixed-type data

In [146]:
for col in df_departments_cleaned.columns.tolist():
    weird = (df_departments_cleaned[[col]].map(type) != df_departments_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_departments_cleaned[weird]) > 0:
        print (col)

In [147]:
df_departments_cleaned.dtypes

department_id
department    object
dtype: object

### Missing values

In [149]:
df_departments_cleaned.isnull().sum()

department_id
department    0
dtype: int64

### Duplicates

In [151]:
df_departments_cleaned_duplicates = df_departments_cleaned[df_departments_cleaned.duplicated()]

In [152]:
df_departments_cleaned_duplicates

Empty DataFrame
Columns: [department]
Index: []

## Orders_products_prior

In [154]:
df_orders_products_prior_cleaned = df_orders_products_prior_wrangled.copy()

### Accuracy

In [156]:
df_orders_products_prior_cleaned.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

### Mixed-type data

In [158]:
for col in df_orders_products_prior_cleaned.columns.tolist():
    weird = (df_orders_products_prior_cleaned[[col]].map(type) != df_orders_products_prior_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_orders_products_prior_cleaned[weird]) > 0:
        print (col)

In [159]:
df_orders_products_prior_cleaned.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

### Missing values

In [161]:
df_orders_products_prior_cleaned.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### Duplicates

In [163]:
df_orders_products_prior_cleaned_duplicates = df_orders_products_prior_cleaned[df_orders_products_prior_cleaned.duplicated()]

In [164]:
df_orders_products_prior_cleaned_duplicates

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

## Orders

In [166]:
df_orders_cleaned = df_orders_wrangled.copy()

### Accuracy

In [168]:
df_orders_cleaned.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

###### order_id: Order id's range from 1 to 3421083 with a unique order id assigned sequentially to each record.
###### user_id: Customer id's range from 1 to 206209.
###### order_number: Users placed between 1 and 100 orders with an average of 11 orders per user.
###### orders_day_of_week: Orders are placed throughout the week, but more come in between Sunday and Thursday, with the slightly more being placed earlier in the week.
###### order_hour_of_day: Orders are placed throughout the day, but more come in between 10am and 4pm with most being placed in the early afternoon.
###### days_since_last_order: Users take between 0 and 30 days to place subsequent orders, with most taking about a week or slightly more to palce an order. Count for this column is 206209 less than the others. This is equal to the max for user_id.

### Mixed-type data

In [171]:
for col in df_orders_cleaned.columns.tolist():
    weird = (df_orders_cleaned[[col]].map(type) != df_orders_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_orders_cleaned[weird]) > 0:
        print (col)

In [172]:
df_orders_cleaned.dtypes

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

### Missing values

In [174]:
df_orders_cleaned.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [175]:
df_orders_cleaned[(df_orders_cleaned['order_number'] == 1) & (df_orders_cleaned['days_since_prior_order'].isnull() == True)]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
11,2168274,2,1,2,11,NaN
26,1374495,3,1,1,14,NaN
39,3343014,4,1,6,11,NaN
45,2717275,5,1,3,12,NaN
...,...,...,...,...,...,...
3420930,969311,206205,1,4,12,NaN
3420934,3189322,206206,1,3,18,NaN
3421002,2166133,206207,1,6,19,NaN
3421019,2227043,206208,1,1,15,NaN
3421069,3154581,206209,1,3,11,NaN

In [176]:
df_orders_cleaned['first_order'] = df_orders_cleaned['days_since_prior_order'].isna()

In [177]:
df_orders_cleaned[(df_orders_cleaned['order_number'] == 1) & (df_orders_cleaned['days_since_prior_order'].isnull() == True) & (df_orders_cleaned['first_order'] == True)]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,True
11,2168274,2,1,2,11,NaN,True
26,1374495,3,1,1,14,NaN,True
39,3343014,4,1,6,11,NaN,True
45,2717275,5,1,3,12,NaN,True
...,...,...,...,...,...,...,...
3420930,969311,206205,1,4,12,NaN,True
3420934,3189322,206206,1,3,18,NaN,True
3421002,2166133,206207,1,6,19,NaN,True
3421019,2227043,206208,1,1,15,NaN,True
3421069,3154581,206209,1,3,11,NaN,True

In [178]:
df_orders_cleaned['first_order'].value_counts()

first_order
False    3214874
True      206209
Name: count, dtype: int64

### Duplicates

In [180]:
df_orders_cleaned_duplicates = df_orders_cleaned[df_orders_cleaned.duplicated()]

In [181]:
df_orders_cleaned_duplicates

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, first_order]
Index: []

## Products

In [183]:
df_products_cleaned = df_products_wrangled.copy()

### Accuracy

In [185]:
df_products_cleaned.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

### Mixed-type data

In [187]:
for col in df_products_cleaned.columns.tolist():
    weird = (df_products_cleaned[[col]].map(type) != df_products_cleaned[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_products_cleaned[weird]) > 0:
        print (col)

product_name

In [188]:
#df_test['product_name'] = df_test['product_name'].astype('str')

In [189]:
df_products_cleaned.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

### Missing values

In [191]:
df_products_cleaned.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [192]:
df_products_cleaned_null = df_products_cleaned[df_products_cleaned['product_name']. isnull() == True]

In [193]:
df_products_cleaned_null

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [194]:
df_products_cleaned = df_products_cleaned[df_products_cleaned['product_name']. isnull() == False]

### Duplicates

In [196]:
df_products_cleaned_duplicates = df_products_cleaned[df_products_cleaned.duplicated()]

In [197]:
df_products_cleaned_duplicates

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [198]:
df_products_cleaned = df_products_cleaned.drop_duplicates()

# Dimensions after consistency checks

In [200]:
df_customers_wrangled.shape

(206209, 10)

In [201]:
df_customers_cleaned.shape

(206209, 10)

In [202]:
df_departments_wrangled.shape

(21, 1)

In [203]:
df_departments_cleaned.shape

(21, 1)

In [204]:
df_orders_products_prior_wrangled.shape

(32434489, 4)

In [205]:
df_orders_products_prior_cleaned.shape

(32434489, 4)

In [206]:
df_orders_wrangled.shape

(3421083, 6)

In [207]:
df_orders_cleaned.shape

(3421083, 7)

In [208]:
df_products_wrangled.shape

(49693, 5)

In [209]:
df_products_cleaned.shape

(49672, 5)

# Combining

In [211]:
df_orders_products_combined = df_orders_cleaned.merge(df_orders_products_prior_cleaned, on = 'order_id', indicator = True)

In [212]:
df_orders_products_combined['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [213]:
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [214]:
df_orders_products_merged = df_orders_products_combined.merge(df_products_cleaned, on = 'product_id', indicator = True)

In [215]:
df_orders_products_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [216]:
df_orders_products_merged = df_orders_products_merged.drop(columns = ['_merge'])

In [217]:
df_orders_products_all = df_orders_products_merged.merge(df_customers_cleaned, on = 'user_id', indicator = True)

In [218]:
df_orders_products_all['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [219]:
df_orders_products_all = df_orders_products_all.drop(columns = ['_merge'])

# Dimensions after combining

df_customers.shape

In [222]:
df_orders_products_combined.shape

(32434489, 10)

In [223]:
df_orders_products_merged.shape

(32404859, 14)

In [224]:
df_orders_products_all.shape

(32404859, 23)

# Check for shifts

In [226]:
df_slice = df_orders_products_merged[:1000000]

In [227]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [228]:
df_slice['price_range'] = df_slice.apply(price_label, axis=1)

/var/folders/b9/73lb7cd16f97fg8sm_jd293r0000gn/T/ipykernel_33295/199930909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_slice['price_range'] = df_slice.apply(price_label, axis=1)

In [229]:
df_slice['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673183
Low-range product    314392
High range            12425
Name: count, dtype: int64

# Deriving variables

In [231]:
df_orders_products_variables = df_orders_products_all.copy()

## Price Range

In [233]:
df_orders_products_variables.loc[df_orders_products_variables['prices'] > 15, 'price_label'] = 'High-range product'

In [234]:
df_orders_products_variables.loc[(df_orders_products_variables['prices'] <= 15) & (df_orders_products_variables['prices'] > 5), 'price_label'] = 'Mid-range product'

In [235]:
df_orders_products_variables.loc[df_orders_products_variables['prices'] <= 5, 'price_label'] = 'Low-range product'

In [236]:
df_orders_products_variables['price_label'].value_counts(dropna = False)

price_label
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

## Busiest day

In [238]:
df_orders_products_variables['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [239]:
result = []

for value in df_orders_products_variables['orders_day_of_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [240]:
df_orders_products_variables['busiest_day'] = result

In [241]:
df_orders_products_variables['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

## Busiest days

In [243]:
df_orders_products_variables['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [244]:
result_2 = []

for value in df_orders_products_variables['orders_day_of_week']:
  if value == 0 or value == 1:
    result_2.append('Busiest day')
  elif value == 3 or value == 4:
    result_2.append('Least busy')
  else:
    result_2.append('Regularly busy')

In [245]:
df_orders_products_variables['busiest_days'] = result_2

In [246]:
df_orders_products_variables['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: count, dtype: int64

## Busiest period of day

In [248]:
df_orders_products_variables['order_hour_of_day'].value_counts().sort_index()

order_hour_of_day
0      218769
1      115700
2       69375
3       51281
4       53242
5       87961
6      290493
7      891054
8     1718118
9     2454203
10    2761760
11    2736140
12    2618532
13    2660954
14    2689136
15    2662144
16    2535202
17    2087654
18    1636502
19    1258305
20     976156
21     795637
22     634225
23     402316
Name: count, dtype: int64

In [249]:
result_3 = []

for value in df_orders_products_variables['order_hour_of_day']:
  if value in [9, 10, 11, 12, 13, 14, 15, 16]:
    result_3.append('Most orders')
  elif value in [23, 0, 1, 2, 3, 4, 5, 6]:
    result_3.append('Fewest orders')
  else:
    result_3.append('Average orders')

In [250]:
df_orders_products_variables['busiest_period_of_day'] = result_3

In [251]:
df_orders_products_variables['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

# Dimensions after deriving variables

In [253]:
df_orders_products_all.shape

(32404859, 23)

In [254]:
df_orders_products_variables.shape

(32404859, 27)

# Check for shifts

In [256]:
df_slice_2 = df_orders_products_merged[:1000000]

In [257]:
df_slice_2.groupby('product_name')

In [258]:
df_slice_2.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [259]:
df_slice_2.groupby('department_id').order_number.mean()

department_id
1     14.800024
2     17.091743
3     17.913544
4     17.893092
5     15.214270
6     15.382135
7     17.694027
8     16.458105
9     15.957363
10    20.091818
11    16.482026
12    15.615061
13    16.484023
14    17.524632
15    15.691875
16    18.014071
17    16.150593
18    19.602850
19    17.631340
20    17.138607
21    21.956893
Name: order_number, dtype: float64

# Group

In [261]:
df_orders_products_grouped = df_orders_products_variables.copy()

In [262]:
df_orders_products_grouped.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Loyalty flag

In [264]:
df_orders_products_grouped['max_order'] = df_orders_products_grouped.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/b9/73lb7cd16f97fg8sm_jd293r0000gn/T/ipykernel_33295/2132117034.py:1: FutureWarning: The provided callable <function max at 0x103c0bc40> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_orders_products_grouped['max_order'] = df_orders_products_grouped.groupby(['user_id'])['order_number'].transform(np.max)

In [265]:
df_orders_products_grouped.loc[df_orders_products_grouped['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [266]:
df_orders_products_grouped.loc[(df_orders_products_grouped['max_order'] <= 40) & (df_orders_products_grouped['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [267]:
df_orders_products_grouped.loc[df_orders_products_grouped['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [268]:
df_orders_products_grouped['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [269]:
df_orders_products_grouped.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

## Spending flag

In [271]:
df_orders_products_grouped['avg_price'] = df_orders_products_grouped.groupby(['user_id'])['prices'].transform('mean')

In [272]:
df_orders_products_grouped.loc[df_orders_products_grouped['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [273]:
df_orders_products_grouped.loc[df_orders_products_grouped['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [274]:
df_orders_products_grouped['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

## Order frequency flag

In [276]:
df_orders_products_grouped['median_days'] = df_orders_products_grouped.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [277]:
df_orders_products_grouped.loc[df_orders_products_grouped['median_days'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [278]:
df_orders_products_grouped.loc[(df_orders_products_grouped['median_days'] > 10) & (df_orders_products_grouped['median_days'] <= 20), 'frequency_flag'] = 'Regular customer'

In [279]:
df_orders_products_grouped.loc[df_orders_products_grouped['median_days'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [280]:
df_orders_products_grouped['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

# Dimensions after grouping

In [282]:
df_orders_products_variables.shape

(32404859, 27)

In [283]:
df_orders_products_grouped.shape

(32404859, 33)

In [284]:
crosstab = pd.crosstab(df_orders_products_grouped['days_since_prior_order'], df_orders_products_grouped['order_number'], dropna = False)

In [285]:
crosstab.to_clipboard()